# Project Config
PROJECT_NAME=app

# PHP Version (e.g. 8.3, 8.2, 8.1)
PHP_VERSION=8.3

# Laravel Version (leave empty for latest, e.g. "11.*", "10.*")
LARAVEL_VERSION=

# Nginx Webserver Config
WEBSERVER_PORT=8000

# MySQL Database Config
DB_PORT=3306
DB_DATABASE=laravel_db
DB_USERNAME=laravel_user
DB_PASSWORD=laravel_password

# Redis Config
REDIS_PORT=6379

# Mailpit Config
MAILPIT_PORT=8025
MAILPIT_SMTP_PORT=1025
