# Project Config
PROJECT_NAME=app-inertia-react

# Nginx Webserver Config
WEBSERVER_PORT=8002

# Vite Dev Server Config
VITE_PORT=5174

# MySQL Database Config
DB_PORT=3307
DB_DATABASE=chanmay_db
DB_USERNAME=chanmay_user
DB_PASSWORD=chanmay_password

# Redis Config
REDIS_PORT=6381

# Mailpit Config
MAILPIT_PORT=8027
MAILPIT_SMTP_PORT=1027
