# Project Config
PROJECT_NAME=app-postgres

# Nginx Webserver Config
WEBSERVER_PORT=8001

# PostgreSQL Database Config
DB_PORT=5433
DB_DATABASE=laravel_db
DB_USERNAME=laravel_user
DB_PASSWORD=laravel_password

# Redis Config
REDIS_PORT=6380

# Mailpit Config
MAILPIT_PORT=8026
MAILPIT_SMTP_PORT=1026
