# Project Config
PROJECT_NAME=app-postgres-react

# PHP Version (e.g. 8.3, 8.2, 8.1)
PHP_VERSION=8.3

# Laravel Version (leave empty for latest, e.g. "11.*", "10.*")
LARAVEL_VERSION=

# Nginx Webserver Config
WEBSERVER_PORT=8003

# Vite Dev Server Config
VITE_PORT=5175

# PostgreSQL Database Config
DB_PORT=5434
DB_DATABASE=laravel_db
DB_USERNAME=laravel_user
DB_PASSWORD=laravel_password

# Redis Config
REDIS_PORT=6382

# Mailpit Config
MAILPIT_PORT=8028
MAILPIT_SMTP_PORT=1028
